header {
    height: 95vh;
}

#name {
    padding: 0 20px 0 20px;
    font-size: 2rem;
    font-weight: bolder;
    margin: 30px 0 30px 0;
    font-weight: bolder;
}

#img {
    /* background-color: aquamarine; */
    /* width: 500px; */
    margin-top: -2.7%;
}

@media screen and (max-width:800px) {}

#hand {
    width: 50px;
    margin-bottom: -7px
}

#myInfo {
    text-align: center;
    /* margin: 40px 40px 0 40px; */
    /* padding: 0 20px 30px 10px; */
    line-height: 30px;
    font-weight: 700;
}

#flag {
    height: 20px;
    margin-bottom: -3px;
    text-align: center;
}

.Icons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 0 35px 0 35px;
}

.mybtn {
    padding: 15px;
    margin: 50px 15px 0 15px;
    background-color: purple;
    font-size: 20px;
    border-style: none;
    border-radius: 5%;
    color: #fff;
    font-family: cursive;
    transition: all linear .3s cubic-bezier(0.65, 0.05, 0.36, 1);
    ;
}

.mybtn:hover {
    cursor: pointer;
    background-color: white;
    color: purple;
    border: 3px solid purple;
}

#facebook {
    color: blue;
}

#twitter {
    color: rgba(69, 69, 251, 0.904);
}

#instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

#linkedin {
    color: blue;
}